:root
{
    --brown: #493423;
    --maroon: #6f131e;
    --carrot: #c26464;
    --cream: #faf5eb;
    --dark: #040E1E;
    --sand: #c8a888;
    --golden: #BCA401;
    --pink: #F0BD8E;
    /* font-family: 'Bree Serif', serif; */
    /* font-family: 'Roboto', sans-serif; */
}
*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: var(--sand);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
  }

.html{
    font-size: 62.5%;
}

.logo{
    font-family: 'Bree Serif', serif;
    color: var(--maroon);
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
    box-shadow: 0px 5px 10px 0px var(--brown);
    position: fixed;
    width: 100%;
    background: var(--cream);
    color: var(--maroon);
    opacity: 0.85;
    z-index: 100;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2.3rem;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    color: var(--carrot);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
    font-family: 'Roboto', serif;
}

.navbar a:hover{
    color: var(--sand);
}

* {box-sizing:border-box}

/* Slideshow container */
.fade{
    background-image: linear-gradient(to bottom,rgb(200, 168, 136, 1),rgb(9, 19, 53,0),rgb(9, 19, 53,0), rgb(9, 19, 53,0),rgb(200, 168, 136, 1));
}
.slidebg
{
    background-image: url('background.webp');
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 100px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.imgslide
{
    width: 100%;
    height: 500px;
    border-radius: 1rem;
    object-fit: cover;
} 

/* .imgslide:hover
{

} */

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.slidesh1
{
    font-size: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Bree Serif', serif;
    color: var(--maroon);

}
/* Caption text */
.text {
  color: var(--cream);
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  margin-bottom: -7px;
  text-align: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0));
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.maph1
{
    display: flex;
    font-family: 'Bree Serif', serif;
    font-size: 50px;
    color: var(--maroon);
    justify-content: center;
}

/*  WORKSHOP SECTION */
body {
    font-family: 'Roboto', sans-serif;
}
.np {
    padding: 0px;
}

.featuredPropBox ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: outside none none;
    padding: 0;
}

.featuredPropBox ul li {
    background-size: cover;
    border-radius: 1rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    height: 250px;
    margin: 5px;
    width: 32%;
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
}

.featuredPropBox ul li:after {
    position: absolute;
    border-radius: 1rem;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(22, 22, 22, 0.4); 
    transition: all 0.3s;
}

.featuredPropBox ul li:nth-child(2) {
    background-image: url('rogan.jpeg');
}

.featuredPropBox ul li:nth-child(1) {
    background-image: url('WORLI.jpg');
}

.featuredPropBox ul li:nth-child(3) {
    background-image: url('kalarambh.webp');
}

.featuredPropBox ul li .fphead {
    font-family: 'Bree Serif', serif;
    color: white;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    /* width: 60%; */
    z-index: 1;
    margin: 10px;
    margin-right:-10px;
    transition: all 0.3s;
    justify-content: center;
    align-items: center;
}

.featuredPropBox ul li .fptext {
    display: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease 0s;
    width: 65%;
    z-index: 1;
}

.featuredPropBox ul li .fptext p {
    color: #fff;
    margin: 0px;
}

.featuredPropBox ul li:hover:after {
    box-shadow: 0 0 25px 25px rgba(248, 159, 5, 0.8)inset;
    border-radius: 1rem;
}

.featuredPropBox ul li:hover {
    background-color: rgba(22, 22, 22, 0.8);
    border-radius: 1rem;
    transform: translateY(-10px);
}

.featuredPropBox ul li:hover .fphead {
    display: none;
}

.featuredPropBox ul li:hover .fptext {
    display: block;
}

.workshopbutton
{
    display:flex;
    border-radius: 1rem;
    background-color: var(--carrot);
    color:white;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    border:none;
    padding:15px;
    padding-left: 30px;
    padding-right: 30px;
    transition: all 0.3s;
}
.buttoncontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

.workshopbutton:hover{
    background-color: var(--cream);
    color:var(--maroon);
}
/* CONTACT US */
.contacth1
{
    position: relative;
    font-size: 30px;
    font-family: 'Bree Serif', serif;
    color: var(--maroon);
    margin: 0 0 35px;

}

.contactrow
{
    display: flex;
    flex-direction:row;
}

.contact-detail
{
    width: 100%;
    height: 100vh;
    text-align: left;
}

.form1
{
    width: 100%;
    height: 100vh;
}

ul 
{
    list-style: none;
}
  
  input {
    overflow: hidden;
  }
  
  .section-title {
    position: relative;
    font-size: 30px;
    font-weight: 600;
    font-family: "Bree", sans-serif;
    margin: 0 0 35px;
  }
  
  .sec-pad {
    padding: 60px 0 0;
    margin: 50px 0;
  }

  .contact-sec {
    display:flex;
    flex-direction:column;
    align-items: center;
    display: flex;
    background-color: var(--cream);
  }
  
  .contact-sec .contact-ul li,
  .contact-ul b {
    font-size: 20px;
    margin: 10px 0;
    font-family: "Roboto", sans-serif;
    word-wrap: break-word;
  }
  
  .contact-sec .contact-ul i {
    font-size: 18px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  form.contFrm {
    max-width: 396px;
    margin: auto;
  }
  
  .inptFld {
    width: 100%;
    height: 50px;
    border: 0;
    margin: 0 0 10px;
    border-radius: 8px;
    padding: 0 20px;
    font-size: 16px;
    color: #000;
  }
  
  .inptFld:focus {
    box-shadow:0 0 0 4px rgba(53, 34, 18, 0.2);
  }
  
  .contFrm textarea {
    height: 75px;
    padding-top: 5px;
  }

  .inptBtn {
    height: 50px;
    border: 0;
    background: var(--carrot);
    font-size: 14px;
    color: #fff;
    margin: auto;
    letter-spacing: 1px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    transition: all 0.3s;
  }

  .inptBtn:hover
  {
    background-color: var(--maroon);
    border-radius:0.8rem;
  }

/* MEDIA QUERIES LISTED NOW */
/* MEDIA QUERIES */
@media (max-width: 991px) {
    .sec-pad {
      padding: 20px 0 0px;
    }
  
    .contact-sec .contact-ul li,
    .contact-ul b {
      font-size: 18px;
    }
  
    .contact-sec .contact-ul i {
      font-size: 14px;
      padding: 6px;
      margin-right: 6px;
    }
  
    .inptFld {
      height: 40px;
      margin: 0 0 10px;
      padding: 0 14px;
      font-size: 14px;
    }
  }
  @media (max-width: 767px) {
    .contact-detail span {
      width: auto;
    }
    .contact-detail span a {
      font-size: 18px;
      padding: 5px 10px;
      color: #000;
      border-radius: 50%;
      margin: 0px 5px 20px;
    }
  }
  
  @media (max-width: 575px) {
    .section-title {
      font-size: 26px;
      font-weight: 500;
    }
    .contact-sec {
      border-radius: 10% 10% 0% 0% / 5% 5% 0% 0%;
    }
  
    .contact-sec .contact-ul i {
      border: none;
    }
    .inptFld {
      height: 36px;
      margin: 0 0 8px;
      padding: 0 14px;
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .contact-sec .contact-ul li,
    .contact-ul b {
      font-size: 16px;
    }
  }

@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: var(--cream);
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px var(--brown);
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }
    
    .featuredPropBox ul li .fphead
    {
        font-size:25px;
    }

    .slidesh1{
        font-size:40px;
    } 

}

 .home_con  
{
    position: relative;
    text-align: center;
}

.home_im1
{
    width: 100%;
    height: 500px;
    margin-top: 64px; 
    object-fit: cover;
    opacity: 0.8;
}

.head_img
{
    font-family: 'Bree Serif', serif;
    font-size: 80px;
    color: var(--cream);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


@media (max-width: 600px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
    .head_img
    {
    font-family: 'Bree Serif', serif;
    font-size: 60px;
    color: var(--cream);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
}
