:root
{
    --brown: #493423;
    --maroon: #6f131e;
    --carrot: #c26464;
    --cream: #faf5eb;
    --dark: #040E1E;
    --sand: #c8a888;
    --golden: #BCA401;
    --pink: #F0BD8E;
    /* font-family: 'Bree Serif', serif; */
    /* font-family: 'Roboto', sans-serif; */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: linear-gradient(to right bottom, #6f131e, #c26464,#faf5eb);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  display: flex;
}

.container {
  width: 500px;
  margin: auto;
  padding: 36px 48px 48px 48px;
  background-color: var(--cream);
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem var(--brown);
}

.login-title {
  font-family: 'Bree Serif', serif;
  padding: 15px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.login-form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
}

.login-form label {
  display: block;
  margin-bottom: 8px;
}

.login-form input {
  width: 100%;
  padding: 1.2rem;
  border-radius: 9px;
  border: none;
}

.login-form input:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--brown);
}

.btn--form {
  background-color: #f48982;
  color: #fdf2e9;
  align-self: end;
  padding: 8px;
  border: none;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  border-radius: 9px;
  border: none;

  cursor: pointer;
  font-family: inherit;

  transition: all 0.3s;
}

button {
  outline: 1px solid #f48982;
}

.btn--form:hover {
  background-color: #fdf2e9;
  color: #f48982;
}

@media only screen and (max-width: 600px) {
  .container {
  width: 300px;
  margin: auto;
  padding: 36px 48px 48px 48px;
  background-color: var(--cream);
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem var(--brown);
}
  
}
