:root
{
    --brown: #493423;
    --maroon: #6f131e;
    --carrot: #c26464;
    --cream: #faf5eb;
    --dark: #040E1E;
    --sand: #c8a888;
    --golden: #BCA401;
    --pink: #F0BD8E;
    /* font-family: 'Bree Serif', serif; */
    /* font-family: 'Roboto', sans-serif; */
}

body
{
    background-color: var(--cream);
}

#map{
    border-radius: 1.5rem;
    box-shadow: 0px 0px 20px 6px var(--carrot);

}
.maph1
{
    font-family: 'Bree Serif', serif;
    font-size: 50px;
    color: var(--maroon);
}

