{% load static  %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000000" />
        <link rel="stylesheet" href="{% static 'home.css' %}" />
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="{% static 'home.js' %}" defer></script>
        <link rel="icon" href="%PUBLIC_URL%/images/favicon.ico" />
        <!--google fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:wght@300&display=swap" rel="stylesheet">
        <title>CraftConduit</title>
    </head>
    <body>
      <div id="root"></div>
        <nav class="navbar">
            <div class="navbar-container container">
                <input type="checkbox" name="" id="">
                <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>
                <ul class="menu-items">
                    <li><a href="home">HOME</a></li>
                    
                    <li><a href="#contact">CONTACT US</a></li>
                    
                    {% if not loggedin %}
                    <li><a href="login">LOGIN</a></li>
                    {% else %}
                    <li><a href="orders">ORDERS</a></li>
                      {% if userdata.type == "A" %}
                        <li><a href="productreg">PRODUCT</a></li>
                        <li><a href="nearby">EVENTS</a></li>

                        {% else %}
                        <li><a href="shop">SHOP</a></li>
                      {% endif %}
                      
                      <li>{{request.user.first_name}}</li>
                      
                      <li><a href="logout">LOGOUT</a></li>
                    {% endif %}
                </ul>
                <h1 class="logo">CraftConduit</h1>
            </div>
        </nav>
        <div class="home_con">
            <img class="home_im1" src="{% static 'home1.jpg' %}" alt="Artisan Photo">
            <h1 class="head_img">For the artisans. <br> By the artisans.</h1>
        </div>
         <!-- workshops -->
        <h1 class="slidesh1"> UPCOMING WORKSHOPS</h1>
        <h2 class="slidesh1"> Click To Book</h2>
        <div class="workcontainer">
          <div class="row">
           <div class="col-lg-12">
            
              <div class="featuredPropBox">
               <ul>
                {% for ws in wsdata %}
                  <li><form method="POST" id='{{ws.wname}}' action="wsbook"> <a href="#" onclick="document.getElementById('{{ws.wname}}').submit(); return false;">
                    {% csrf_token %}
                    <div class="fphead">{{ws.wname}}</div>
                    <div class="fptext">
                     <p>Join us on {{ws.wdatetime}} <br>{{ws.wabout}} in {{ws.wcity}}!</p>
                   </div>
                   <input type="hidden" name="workshop_name" value="{{ ws.wname }}">
                   <input type="hidden" name="workshop_id" value="{{ ws.wid }}">
                    </a></form> </li>
                    {% endfor %}
                </ul>
                
             </div>
            </style>
             
            </div>
         </div>
        </div>
        {% if userdata.type == "A" %}
        <a href="workshopreg">
        <div class="buttoncontainer">
          <button class="workshopbutton">Want to organise a workshop?</button>
        </div>
      </a>
        {% endif %}
        
        <!--slideshow-->
        <div class="slidebg">
        <div class="fade">
        <div class="slideshow-container">
            <h1 class="slidesh1"> Our Popular Artworks</h1>
            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade">
              <img class="imgslide" src="{% static 'kalarambh.webp' %}">
              <div class="text">Kalarambh</div>
            </div>
          
            <div class="mySlides fade">
              <img class="imgslide" src="{% static 'rogan.jpeg' %}">
              <div class="text">Rogan Art</div>
            </div>
          
            <div class="mySlides fade">
              <img class="imgslide" src="{% static 'carpet.jpg' %}">
              <div class="text">Rajasthani Carpet Making</div>
            </div>

            <div class="mySlides fade">
                <img class="imgslide" src="{% static 'WORLI.jpg' %}">
                <div class="text">Worli Art</div>
              </div>

              <div class="mySlides fade">
                <img class="imgslide" src="{% static 'terracotta.jpg'%}">
                <div class="text">Terracotta Art</div>
            </div>
            <div id="contact"></div>
          
            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
          </div>
          <br>
          </div>
        </div>
          <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span> 
            <span class="dot" onclick="currentSlide(2)"></span> 
            <span class="dot" onclick="currentSlide(3)"></span> 
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
          </div>  
          </div>
    <!-- CONTACT US -->
          <section class="contact-sec sec-pad">
            <div class="container">
              <div class="contactrow">
                <div class="col-md-6">
                  <div class="contact-detail">
                    <h1 class="contacth1">Contact us</h1>
          
                    <ul class="contact-ul">
                      <li>For Artisans. By Artisans.</li>
                                  <li> Empowering local artisans on India and bringing you the best artwork at the most affordable price.</li>
                                  <li>The price they deserve. The price you deserve.</li>
                    </ul>
                    </div>
                    </div>
    
                <div class="form1">
                  <form action="#" class="contFrm" method="POST">
                    <div class="row">
                      <div class="col">
                        <input type="text" name="name" placeholder="Your Name" class="inptFld" required />
                      </div>
          
                      <div class="col-sm-6">
                        <input type="email" name="email" placeholder="Email Address" class="inptFld" required />
                      </div>
          
                      <div class="col-sm-6">
                        <input type="tel" name="phone" placeholder="Phone Number" class="inptFld" required />
                      </div>
          
                      <div class="col-sm-6">
                        <input type="text" name="sub" placeholder="Subject" class="inptFld" required />
                      </div>
          
                      <div class="col-12">
                        <textarea class="inptFld" rows="" cols="" placeholder="Your Message..." required></textarea>
                      </div>
          
                      <div class="col-12">
                        <input type="submit" name="submit" value="SUBMIT" class="inptBtn" />
                      </div>
                    </div>
                  </form>
                </div>
              </div>
          
            </div>
          </section>
    </body>
</html>
