{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000000" />
        <link rel="stylesheet" href="{% static 'order.css' %}" />
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <link rel="icon" href="%PUBLIC_URL%/images/favicon.ico" />
        <!--google fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:wght@300&display=swap" rel="stylesheet">
        <title>CraftConduit</title>
    </head>
    <body>
      <noscript>You need to enable JavaScript to run this app.</noscript>
      <div id="root"></div>
      <nav class="navbar">
        <div class="navbar-container container">
            <input type="checkbox" name="" id="">
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a href="home">HOME</a></li>
                
                <li><a href="#contact">CONTACT US</a></li>
                
                {% if not loggedin %}
                <li><a href="login">LOGIN</a></li>
                {% else %}
                <li><a href="orders">ORDERS</a></li>
                  {% if userdata.type == "A" %}
                    <li><a href="productreg">PRODUCT</a></li>
                    <li><a href="nearby">EVENTS</a></li>

                    {% else %}
                    <li><a href="shop">SHOP</a></li>
                  {% endif %}
                  
                  <li>{{request.user.first_name}}</li>
                  
                  <li><a href="logout">LOGOUT</a></li>
                {% endif %}
            </ul>
            <h1 class="logo">CraftConduit</h1>
        </div>
    </nav>
        <div class="home_con">
          <img class="home_im1" src="{% static 'home1.jpg' %}" alt="Artisan Photo">
          <h1 class="head_img">View the orders you have received.</h1>
      </div>
      <section id="sellers">
        <div class="seller container">
            <h2>YOUR ORDERS</h2>
            <div class="best-seller">
              {% for ord in orders %}
                <div class="best-p1">
                    {% comment %} <img src="" alt="img"> {% endcomment %}
                    <div class="best-p1-txt">
                        <div class="name-of-p">
                            <p>{{ord.product_name}}</p>
                        </div>
                        <div class="price">
                            Quantity:{{ord.quantity}}</div>
                        <div class="price">
                              Date:{{ord.order_date}}</div>
                            <br>
                    </div>
                  </div>
                  {% endfor %}
                 
            </div>
        </div>
    </section>
        <div id="contact"></div>
        <!-- CONTACT US -->
        <section class="contact-sec sec-pad">
          <div class="container">
            <div class="contactrow">
              <div class="col-md-6">
                <div class="contact-detail">
                  <h1 class="conth1">CONTACT US</h1>
        
                  <ul class="contact-ul">
                    <li>For Artisans. By Artisans.</li>
                                <li> Empowering local artisans on India and bringing you the best artwork at the most affordable price.</li>
                                <li>The price they deserve. The price you deserve.</li>
                  </ul>
                  </div>
                  </div>
  
              <div class="form1">
                <form action="#" class="contFrm" method="POST">
                  <div class="row">
                    <div class="col">
                      <input type="text" name="name" placeholder="Your Name" class="inptFld" required />
                    </div>
        
                    <div class="col-sm-6">
                      <input type="email" name="email" placeholder="Email Address" class="inptFld" required />
                    </div>
        
                    <div class="col-sm-6">
                      <input type="tel" name="phone" placeholder="Phone Number" class="inptFld" required />
                    </div>
        
                    <div class="col-sm-6">
                      <input type="text" name="sub" placeholder="Subject" class="inptFld" required />
                    </div>
        
                    <div class="col-12">
                      <textarea class="inptFld" rows="" cols="" placeholder="Your Message..." required></textarea>
                    </div>
        
                    <div class="col-12">
                      <input type="submit" name="submit" value="SUBMIT" class="inptBtn" />
                    </div>
                  </div>
                </form>
              </div>
            </div>
        
          </div>
        </section>
    </body>
</html>